<% content_for(:title, "Edit Apology") %>

<div class="form-box">

  <h1>Editing Apology</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @apology %> |
  <%= link_to 'Back', apologies_path %>

</div> <!-- form-box -->

