<% content_for(:description, @apology.body) %>

<div class="apology-wrapper">
  <div class="create-button-wrapper">
    <%= link_to "Edit", edit_apology_path, class: "btn btn-info btn-sm" if current_user%>
  </div>

  <div class='apology-container'>
    <div>
      <%= image_tag(@apology.image) %>
    </div>
      
    <div class="right-column">
      <p class='note'><%= @apology.body %></p>
      <p class='note'>Love,<br>Ryan</p>
    </div>
  </div>
</div>
