<% content_for(:title, "Editing: #{@page.name}") %>

<div class="form-box">

  <h1>Editing: <%= @page.name %></h1>

  <%= render 'form' %>

  <%= link_to 'Show', @page %> |
  <%= link_to 'Back', pages_path %>  
</div> <!-- form-box -->
