body {
  background-color: #F1F1F1; 
  padding-bottom: 150px;
} /* body */


header {
  margin: 70px 0px 50px 0px;
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px; 
    text-align: center;
    font-family: 'Halant', serif;
    font-weight: 300;
    color: gray;
    a {
      &:visited {
        color: lighten(gray, 11%); 
      } /* &:visited */
      &:hover {
        background-color: transparent; 
        text-decoration: none;
        color: gray;
      } /* &:hover */ 
      
        
    } /* a */
  } /* h1 */
} /* header */

h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; 
  font-family: 'Halant', serif;
  font-weight: 300;
  color: gray;
   
} /* h1 */

.form-box {
  margin: 0 auto;
  width: 30%;
  padding: 30px; 
} /* .form-box */


/* NAVBAR */

ul.copyright {
  color: #979797;
  padding-top: 13px;
  list-style: none; 
} /* ul.copyright */

.brand {
  font-family: 'Rock Salt', cursive; 
  color: magenta;
} /* .-brand */




/* SHAREABLE */
nav.share {
  display:inline-block;
  margin-top: 30px;
  } /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
  




/* SCAFFOLD STYLES */



p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* MEDIA QUERIES */

@media screen and (max-device-width: 480px) and (orientation: portrait) {

  .form-box {
    margin: 0 auto;
    width: 100%;
    padding: 30px; 
  } /* .form-box */

}/* 480px */
