@import 'theme';

body {
  background-color: $background-color;
  padding-bottom: 150px;
}


header {
  margin: 70px 0px 50px 0px;
  text-align: center;
  color: $primary-color;
  .title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: $classy-font;
    font-weight: 300;
    a {
      color: $primary-color;
      &:hover {
        background-color: transparent;
        text-decoration: none;
        color: darken($primary-color, 10%);
      } /* &:hover */
    } /* a */
  } /* h1 */
  .subtitle {
    font-family: $apology-font;
    font-size: 30px;
    margin-top: 0;
    color: lightgray;
  }
} /* header */

h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: $classy-font;
  font-weight: 300;
  color: gray;

} /* h1 */


/* NAVBAR */

ul.copyright {
  color: #979797;
  padding-top: 13px;
  list-style: none;
} /* ul.copyright */

.brand {
  font-family: $apology-font;
  color: magenta;
} /* .brand */



/* SHAREABLE GEM */
nav.share {
  display:inline-block;
  margin-top: 30px;
  } /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/



/* SCAFFOLD STYLES */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  color: green;
  width: 100%;
  background-color: lighten(green, 65%);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* MEDIA QUERIES */

@media screen and (max-device-width: 480px) and (orientation: portrait) {



}/* 480px */
